.card
  .card-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item= link_to "Info", @scenario, class: "nav-link"
      %li.nav-item= link_to "Comments", "#", class: "nav-link active"
      %li.nav-item= link_to "Change history", "#", class: "nav-link disabled"
  .card-body
    %h5.card-title= @commentable.name 
    %div= render :partial => 'comments/comments', :locals => {commentable: @commentable}
    %div= render :partial => 'comments/form', :locals => {commentable: @commentable}
