<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :publication_name %>
  </div>

  <div class="field">
    <%= form.label :publishing_year %>
    <%= form.number_field :publishing_year, id: :publication_publishing_year %>
  </div>

  <div class="field">
    <%= form.label :publisher_id %>
    <%= form.text_field :publisher_id, id: :publication_publisher_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
