<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publication.name %>
</p>

<p>
  <strong>Publishing year:</strong>
  <%= @publication.publishing_year %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= link_to @publication.publisher.name, publisher_show_path(@publication.publisher) %>
</p>

<p>
<% @publication.scenarios.each do |scenario| %>
  <%= link_to scenario.name, scenario_show_path(scenario) %><br />
<% end %>
</p>
<%= link_to 'Back', publications_path %>
