<p id="notice"><%= notice %></p>

<h1>Publishers</h1>
<div class="card">
  <div class="card-block">
    <div class="row input-group">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <%= form_for_filterrific @filterrific do |f| %>
          <div>
            Search
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed'
            ) %>
        </div>
      </div>
      <div class="col-md-4">
        Sorted by
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
      </div>
      <div class="col-md-2">
        <%= link_to(
          'Reset filters',
          reset_filterrific_url,
          :class => "btn btn-primary"
        ) %>
    </div>
    </div>
  </div>
</div>

  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>


    <%= render(
      partial: 'publishers/list',
      locals: { publishers: @publishers }
    ) %>
</br>

<%= link_to 'New Publisher', new_publisher_path if logged_in?(:admin) %>
