<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body">
    <div class="form-group">
      <%= form.label :date %>
      <%= form.datetime_select :date, id: :game_date, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :scenario_id %>
        <%= form.collection_select :scenario_id, Scenario.all, :id, :name, {:include_blank => true}, { class: "form-control", id: "scenario-select" } %>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= form.label :gamingtime %>
          <%= form.text_field :gamingtime, id: :game_gamingtime, class: "form-control"  %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= form.label :turnsplayed %>
          <%= form.text_field :turnsplayed, id: :game_turnsplayed, class: "form-control"  %>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-inline">
          <%= form.label :status %><br>
          <%= form.collection_radio_buttons :status, Game.statuses.keys[0..1].map { |w| [w.humanize, w] }, :second, :first, html_options: { class: 'form-control' } do |b|  %>
            <%= b.label { b.radio_button + " " + b.text } %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <%= render partial: 'games/both_players', locals: { form: form } %>



  <br>
  <div class="actions">
    <%= form.submit  submit_button_helper(action_name), class: "btn btn-primary"%>
    <%= link_to 'Cancel', @game, :class => "btn btn-secondary"%>
  </div>
<% end %>
