<div class="card">
<div class="card-header">
  <%= pf.object.force.name %>
  <span class="float-right">
    <%= fa_icon "trophy" %>
    <%= radio_button_tag "game[winner_index]", pf.index, pf.object.winner %>
</div>
<div class="card-body">
     
     <%= pf.label :name %>
      <%= pf.collection_select :user_id, User.all, :id, :full_name, {:include_blank => true}, {selected: pf.object.user_id, id: "player-select-#{i}"} %>
       
</div>
</div>
