<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Scenario</th>
      <th>Gamingtime</th>
      <th>Turnsplayed</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.id, game %>
        <td><%= game.date %></td>
        <td><%= game.scenario.name %></td>
        <td><%= game.gamingtime %></td>
        <td><%= game.turnsplayed %></td>
        <td><%= game.status %></td>
        <td><%= link_to "Delete", game, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @games %>

