<p id="notice"><%= notice %></p>

<h1>Scenarios</h1>
<div class="card">
  <div class="card-block">
    <div class="row input-group">
      <div class="col-md-8">
        <%= render_filterrific_spinner %>
      </div>
      <div class="col-md-3">
        <%= form_for_filterrific @filterrific do |f| %>
          <div>
            Search
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed'
            ) %>
        </div>
      </div>
      <div class="col-md-1">
        <%= link_to(
          'Reset filters',
          reset_filterrific_url,
          :class => "btn btn-primary"
        ) %>
    </div>
    </div>
  </div>

<% end %>


<%= render(
  partial: 'scenarios/list',
  locals: { scenarios: @scenarios }
) %>
</br>
</div>


<%= link_to 'New Scenario', new_scenario_path if logged_in?(:admin, :editor) %>
