<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scenario.name %>
</p>

<p>
  <strong>Scenario date:</strong>
  <%= @scenario.scenario_date %>
</p>

<p>
  <strong>Gameturns:</strong>
  <%= @scenario.gameturns %>
</p>

<p>
  <strong>Location:</strong>
  <%= @scenario.location_id %>
</p>

<p>
<% @scenario.scenario_publications.each do |sp| %>
  <strong><%= sp.publication.publishing_year %></strong> by <%= link_to sp.publication.publisher.name, publisher_show_path(sp.publication.publisher) %> in <%= link_to sp.publication.name, publication_show_path(sp.publication) %> <strong><%= sp.code %></strong><br />
<% end %>
</p>


<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>
