.card
  .card-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item= link_to "Info", "#", class: "nav-link active"
      %li.nav-item= link_to "Comments", scenario_comments_path(@scenario), class: "nav-link"
      %li.nav-item= link_to "Change history", "#", class: "nav-link disabled"
  .card-body
    %h5.card-title= @scenario.name
    .row
      .col-md-6.col-lg-4.col-xl-3
        .card.mb-3
          .card-header Information
          .card-body
            .row
              .col= @scenario.belligerents
            .row
              .col Date
              .col
                .float-right= @scenario.scenario_date
            .row
              .col Location
              .col
                .float-right= @scenario.location.name.capitalize
            .row
              .col Initiative
              .col
                .float-right= @scenario.initiative.capitalize
            .row
              .col Gameturns
              .col
                .float-right= @scenario.gameturns          
            .row
              .col Maps
              .col
                .float-right= map_list(@scenario.maps)
            .row
              .col Overlays
              .col
                .float-right= overlay_list(@scenario.overlays)
      .col-md-6.col-lg-4.col-xl-3
        .card.mb-3
          .card-header Counters
          .card-body
            - @scenario.scenario_counters.order(force_id: :asc).each do |scenario_counter|
              .row
                .col= scenario_counter.counter.to_s
      .col-md-6.col-lg-4.col-xl-3 
        .card.mb-3
          .card-header Publications
          .card-body
            - @scenario.scenario_publications.each do |scenario_publication|
              .row.ml-1= publication_line(scenario_publication)
      .col-md-6.col-lg-4.col-xl-3
        .card.mb-3
          .card-header ASL Rules Employed
          .card-body
            - @scenario.rules.each do |rule|
              .row.ml-1= rule.name
      .col-md-6.col-lg-4.col-xl-3
        .card.mb-3
          .card-header Gaming results on this scenario
          .card-body
            - @scenario.games.each do |game|
              .row
                .col= link_to game.id, game
      .col-md-6.col-lg-4.col-xl-3
        .card.mb-3
          .card-header Rating
          .card-body
            .row
              .col WIP 
      .col-md-6.col-lg-4.col-xl-3
        .card.mb-3
          .card-header Balance Analysis 
          .card-body
            .row
              .col WIP
